#pool{
    display: flex;
    align-self: center;
}

.board{
    border: 1px solid black;
    padding: 1em;

}
h3{
    text-align: center;
    padding: 1em;
}
h4{
    text-align: center;
    padding: 1em;
}

.mastfoot{
    text-align: center;
}
#chekResults{
    align-content: center;
    padding:1em;
    text-align: center;
}

.ok{
    color:green;
}
.incorrect{
    color:red;
}


#pool1{
    flex:30%;
    padding: 1em;
}
#pool2{
    flex:40%;
    padding: 1em;
}
.option{
    padding: 1em;
}
#pool3{
    flex:30%;
    padding: 1em;
}